// For comet
@keyframes fly {
  0% {
    -webkit-transform: rotateZ(360deg);
    left: -10%;
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    left: 110%;
  }
}
// For shuttle
@keyframes blastOff {
  0% {
    -webkit-transform: rotateZ(360deg);
    bottom: 10%;
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    bottom: 150%;
  }
}
