.header {
  $time: 1s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: height $time ease;

  &.reduce {
    height: 20%;
  }

  .comet {
    position: absolute;
    top: 45%;
    left: -10%;
    width: 70px;
    height: auto;

    &.fly {
      animation: fly 18s linear infinite;
    }
  }
}

@keyframes fly {
  0% {
    left: -10%;
  }

  100% {
    left: 110%;
  }
}
