.apod-info {
  $time: 500ms;
  height: 100%;
  width: 100%;
  background-color: $popColour;
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  left: 100%;
  transition: all $time ease-out;

  &.open {
    left: 0%;
    opacity: 0.98;
  }

  &.close {
    left: 100%;
    opacity: 0;
  }

  .apod-info__close {
    position: absolute;
    right: 40px;
    font-size: 2em;
    font-weight: $font-medium;
    cursor: pointer;
    border-bottom: 2px solid $popColour;
    transition: all 200ms ease-in;

    &:hover {
      border-bottom: 2px solid black;
    }
  }

  .apod-info__container {
    padding: 40px;

    .apod-info__title {
      margin: 0;
      padding-bottom: 0;
    }

    .apod-info__text {
      max-width: 800px;
    }
  }
}
