body {
  font-family: $main-font;
}

h1 {
  font-weight: $font-medium;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: $font-light;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #fafafa;
  font-weight: $font-medium;
  transition: all 200ms ease-in;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $popColour;
  }

  &:visited {
    color: inherit;
  }
}
